
body {
    background-color: #BDFCC9; 
    color: #fbf9f9; 
    font-family: 'Pacifico' cursive; 
    padding: 20px; 
    margin: 0;
}

h1 {
    font-family: 'Pacifico', cursive; 
    font-size: 3em; 
    color: #ADD8E6; 
    text-align: center; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-top: 0;
}


form {
    background-color: #ADD8E6; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 300px;
    margin: 0 auto; 
}


button {
    background-color: #ADD8E6; 
    color: white; 
    font-size: 1.1em;
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    margin-top: 20px; 

}


button:hover {
    background-color: #BDFCC9; 
}
