body { 
    background-color: #B19CD9;
}

h2 a {
    color: inherit; /* Hereda el color del h2 */
    text-decoration: none; /* Elimina el subrayado */
}

h2 a:hover {
    color: #B19CD9; /* Cambia el color al pasar el cursor */
}


h1{ 
    color: #fbf9f9;
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 2em;

}   

h2 {
    color: #fbf9f9;
    font-family: 'Pacifico', cursive;
    font-size: 1.5;
}

p{
    color: #333;

}